@font-face {
  font-family: 'Velvelyne';
  src: url('./assets/otf/Velvelyne-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* ---------ONBOARDING STYLING--------------- */

#onboarding-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #202020;
  /* background-image: 
    radial-gradient(circle at 1px 1px, rgba(255,255,255,0.15) 1px, transparent 0); */
  background-size: 20px 20px;
  z-index: 10000;
  overflow: hidden;
  display: block;
  visibility: visible;
  margin: 0;
  padding: 0;
}

#onboarding-screen.hidden {
  display: none;
}

.onboarding-shapes {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.shape {
  display: block;
  width: auto;
  height: auto;
  position: relative;
}

.shape-circle {
  z-index: 4;
  width: 280px;
  height: auto;
  margin-top: -20px;
  margin-bottom: -168px;
  margin-right: 0;
}

.shape-ellipse {
  z-index: 3;
  width: 252px;
  height: auto;
  transform: rotate(-15deg);
  margin-bottom: -140px;
  margin-right: -28px;
}

.shape-triangle {
  z-index: 2;
  width: 308px;
  height: auto;
  transform: rotate(-15deg);
  margin-bottom: -112px;
  margin-right: -14px;
}

.shape-square {
  z-index: 1;
  width: 336px;
  height: auto;
  /* transform: rotate(45deg); */
  margin-right: -42px;
}

.onboarding-text {
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-family: 'Velvelyne', sans-serif;
  font-size: 8rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.collection-btn {
  position: absolute;
  top: calc(45% + 2.625rem);
  left: 60px;
  transform: translateY(0);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  text-decoration: underline 1px solid;
  transition: all 0.2s ease;
}

.collection-btn:hover {
  opacity: 0.7;
}

.start-btn {
  position: absolute;
  top: 45%;
  left: 60px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.7rem;
  font-weight: 100;
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  /* text-decoration: underline 2px solid; */
  text-decoration: none;
}

.start-btn:hover {
  opacity: 0.7;
}

