@font-face {
  font-family: 'Velvelyne';
  src: url('assets/otf/Velvelyne-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  z-index: 1;
}



/* ---------TEXT STYLING--------------- */

#questions-container {
    display: none;
}

.question {
    font-family: 'Velvelyne', sans-serif;
    font-size: 2rem;
    color: #333;
}

.question-text {
    font-family: 'Velvelyne', sans-serif;
    font-size: 2.5rem;
    color: #333;
}


/* ---------BUTTONS STYLING--------------- */

.answer-btn {
  font-family: "Velvelyne";
  font-size: 1.75rem;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.answer-btn:hover {
  text-decoration: underline;
  color: #000000;
}


.background-btn {
  background-color: #211f1fff;
  color: #ffffff;
  border: none;
  font-family: "Velvelyne";
  font-size: 1.25rem;
  padding: 10px 20px;
  text-decoration: underline;
}

.background-btn:hover {
  color: #cee2b7;
}

.download-btn {
  font-family: "Velvelyne";
  font-size: 1.25rem;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.2s ease;
}

.download-btn:hover {
  text-decoration: underline;
}

.slider-label {
  font-family: "Velvelyne", sans-serif;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 4px;
  padding-top: 26px;
  padding-left: 0px;
}

