@font-face {
  font-family: 'Velvelyne';
  src: url('assets/otf/Velvelyne-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}



/* ---------TEXT STYLING--------------- */

.question {
    font-family: 'Velvelyne', sans-serif;
    font-size: 2rem;
    color: #333;
}

.question-text {
    font-family: 'Velvelyne', sans-serif;
    font-size: 2.5rem;
    color: #333;
}


/* ---------BUTTONS STYLING--------------- */

.answer-btn {
  font-family: "Velvelyne";
  font-size: 1.75rem;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.answer-btn:hover {
  text-decoration: underline;
  color: #000000;
}


.background-btn {
  background-color: #211f1fff;
  color: #ffffff;
  border: none;
  font-family: "Velvelyne";
  font-size: 1.25rem;
  padding: 10px 20px;
  text-decoration: underline;
}

.background-btn:hover {
  color: #cee2b7;
}

.download-btn {
  font-family: "Velvelyne";
  font-size: 1.25rem;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.2s ease;
}

.download-btn:hover {
  text-decoration: underline;
}

/* ---------SLIDER STYLING--------------- */

.alpha-slider {
  width: 300px;
  background-color: transparent;
  padding: 20px 0;

  
  /* Removes some defaults */
  -webkit-appearance: none;
  appearance: none;
  
}

.alpha-slider:focus {
  outline: none;
}

/* This is the "track" that the slider sits on  */
.alpha-slider::-webkit-slider-runnable-track {
  background: #000000;
  height: 3px;
  -webkit-appearance: none;
  
  cursor: pointer;
}

/* This is the moveable bit of the slider, known as the "thumb"*/
.alpha-slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  
  /* negative top padding moves it up */
  margin-top: -6px;

  
  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 2px;
  
}


.slider-description {
  font-family: "Velvelyne", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 4px;
  padding-left: 0px;
}

.slider-label {
  font-family: "Velvelyne", sans-serif;
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 4px;
  padding-top: 26px;
  padding-left: 0px;
}


